.App {
  height: 100%;
}

.App-topper {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.greeting-header {
    position: absolute;
    top: 40px;
}

.switch-level-button {
  position: fixed;
  bottom: 100px;
  right: 100px;
}

.App-link {
  color: #61dafb;
}

